<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>

	<session-factory>
		<!-- JDBC -->
		<property name="hibernate.connection.username">RamosSuper</property>
		<property name="hibernate.connection.password">[password][drowssap]</property>
		<property name="hibernate.connection.url">jdbc:postgresql://ramosrhonrevdb.cqsrp1lrgf2o.us-east-1.rds.amazonaws.com:5432/Ramos_RhonVincent_RevProject1</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<!-- Hibernate Properties -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.default_schema">hibernate</property>
		<!-- Optional -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<!-- DDL Permission level -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<!-- Mapping Entity Classes (Making the SF aware of these entities) -->
		<mapping class="com.revature.models.ErsReim"/>
		<mapping class="com.revature.models.ErsReimStatus"/>
		<mapping class="com.revature.models.ErsReimType"/>
		<mapping class="com.revature.models.ErsUserRoles"/>
		<mapping class="com.revature.models.ErsUsers"/>
	</session-factory>

</hibernate-configuration>